[Unit]
Description=Backend for Feather App
After=network.target

[Service]
User=root
WorkingDirectory=/root/feather_end
ExecStart=/usr/local/bin/gunicorn --workers 1 --bind 127.0.0.1:1234 endpoint:backend
Restart=always

[Install]
WantedBy=multi-user.target
